<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">My App</a>

      <% if (!user) { %>
        <!-- User not logged in -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/auth/github">
              <i class="fab fa-github" style="width: 20px; height: 20px;"></i>
              Login with GitHub
            </a>
          </li>
        </ul>
        <% } else { %>
          <!-- User logged in -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/my-pics">My Pics</a></li>
            <li>
              <a class="dropdown-trigger" href="#" data-target="addPicDropdown">
                <i class="material-icons">add_a_photo</i>
                Add a Pic<i class="material-icons right">arrow_drop_down</i>
              </a>
              <ul id="addPicDropdown" class="dropdown-content">
                <li><a href="/add-pic">Upload New Pic</a></li>
                <li><a href="/add-from-url">Add from URL</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-trigger" href="#" data-target="userDropdown">
                <i class="fas fa-user-circle"></i>
                <%= user.username %>
                  <i class="material-icons right">arrow_drop_down</i>
              </a>
              <ul id="userDropdown" class="dropdown-content">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          <% } %>
    </div>
  </nav>
</header>